#login-buttons {
  margin-top: 10px;
}

.card-columns {
  margin-top: 40px;
}

.left-spacer {
  margin-left: 10px;
}

.card {
    min-width: 216px !important;
}

.new-poll {
  margin-right: 20px ;
}

.top-margin {
  margin-top : 40px;
}

.margin-right-xs {
  margin-right: 4px;
}

.form-control-danger {
  border-color: #d9534f !important;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}